<!--footer start-->
<div id="footer-2017" includefile_footer_id="1002">
    <div class="w">
        <div class="copyright_links">
            <p>
                <a href="https://about.itfh.com/" target="_blank">关于我们</a><span class="copyright_split">|</span>
                <a href="https://about.itfh.com/contact/" target="_blank">联系我们</a><span class="copyright_split">|</span>
                <a href="https://help.itfh.com/user/custom.html" target="_blank">联系客服</a><span
                    class="copyright_split">|</span>
                <a href="https://lai.itfh.com/" target="_blank">合作招商</a><span class="copyright_split">|</span>
                <a href="https://helpcenter.itfh.com/venderportal/index.html" target="_blank">商家帮助</a><span
                    class="copyright_split">|</span>
                <a href="https://jzt.itfh.com/" target="_blank">营销中心</a><span class="copyright_split">|</span>
                <a href="https://app.itfh.com/" target="_blank">手机飞狐商城</a><span class="copyright_split">|</span>
                <a href="https://club.itfh.com/links.aspx" target="_blank">友情链接</a><span class="copyright_split">|</span>
                <a href="https://media.itfh.com/" target="_blank">销售联盟</a><span class="copyright_split">|</span>
                <a href="https://pro.itfh.com/mall/active/3WA2zN8wkwc9fL9TxAJXHh5Nj79u/index.html"
                   target="_blank">飞狐商城社区</a><span class="copyright_split">|</span>
                <a href="https://pro.itfh.com/mall/active/3TF25tMdrnURET8Ez1cW9hzfg3Jt/index.html"
                   target="_blank">风险监测</a><span class="copyright_split">|</span>
                <a href="https://about.itfh.com/privacy/" target="_blank">隐私政策</a><span class="copyright_split">|</span>
                <a href="https://gongyi.itfh.com/" target="_blank">飞狐商城公益</a><span class="copyright_split">|</span>
                <a href="https://www.joybuy.com/" target="_blank">English Site</a><span class="copyright_split">|</span>
                <a href="https://corporate.itfh.com/" target="_blank">Media &amp; IR</a>
            </p>
        </div>
        <div class="copyright_info">
            <p>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000088" target="_blank">京公网安备
                    11000002000088号</a><span class="copyright_split">|</span><span>京ICP证070359号</span><span
                    class="copyright_split">|</span>
                <a href="https://img30.360buyimg.com/poprx/jfs/t1/45702/1/7206/3652062/5d4d3f4fE7ea82da4/207332da28ae8230.png"
                   target="_blank">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="copyright_split">|</span><span>新出发京零 字第大120007号</span>
            </p>
            <p><span>互联网出版许可证编号新出网证(京)字150号</span><span class="copyright_split">|</span>
                <a href="https://pro.itfh.com/mall/active/3bVDLXHdwVmdQksGF8TtS7ocq1NY/index.html" target="_blank">出版物经营许可证</a><span
                        class="copyright_split">|</span>
                <a href="https://misc.360buyimg.com/wz/wlwhjyxkz.jpg"
                   target="_blank">网络文化经营许可证京网文[2014]2148-348号</a><span class="copyright_split">|</span><span>违法和不良信息举报电话：4006561155</span>
            </p>
            <p><span class="copyright_text">Copyright © 2004 - <em
                    id="copyright_year">2019</em>  飞狐商城itfh.com 版权所有</span><span class="copyright_split">|</span><span>消费者维权热线：4006067733</span>
                <a href="https://pro.itfh.com/mall/active/38PitHBfR7ZopNHRSHnuuWR5AMDL/index.html" target="_blank"
                   class="copyright_license">经营证照</a>
                <span class="copyright_split">|</span>
                <span>(京)网械平台备字(2018)第00003号</span>
                <span class="copyright_split">|</span>
                <a href="https://storage.itfh.com/imgtools/cbdaa22553-dccaf290-d1af-11e8-a840-89f99f5f0056.jpeg"
                   target="_blank" class="mod_business_license">营业执照</a>
            </p>
            <p class="mod_copyright_inter">
                <a class="mod_copyright_inter_lk" href="https://www.joybuy.com/?source=1&amp;visitor_from=3"
                   target="_blank" clstag="h|keycount|btm|btmnavi_null0501"><i
                        class="mod_copyright_inter_ico mod_copyright_inter_ico_global"></i><span
                        class="languagefont"></span></a>
                <span class="copyright_split">|</span>
                <a class="mod_copyright_inter_lk" href="https://www.jd.ru/?source=1&amp;visitor_from=3" target="_blank"
                   clstag="h|keycount|btm|btmnavi_null0502"><i
                        class="mod_copyright_inter_ico mod_copyright_inter_ico_rissia"></i><span
                        class="languagefont"></span></a>
                <span class="copyright_split">|</span>
                <a class="mod_copyright_inter_lk" href="https://www.jd.id/?source=1&amp;visitor_from=3" target="_blank"
                   clstag="h|keycount|btm|btmnavi_null0503"><i
                        class="mod_copyright_inter_ico mod_copyright_inter_ico_indonesia"></i><span
                        class="languagefont"></span></a>
                <span class="copyright_split">|</span>
                <a class="mod_copyright_inter_lk" href="https://www.joybuy.es/?source=1&amp;visitor_from=3"
                   target="_blank" clstag="h|keycount|btm|btmnavi_null0504"><i
                        class="mod_copyright_inter_ico mod_copyright_inter_ico_spain"></i><span
                        class="languagefont"></span></a>
                <span class="copyright_split">|</span>
                <a class="mod_copyright_inter_lk" href="https://www.jd.co.th/?source=1&amp;visitor_from=3"
                   target="_blank" clstag="h|keycount|btm|btmnavi_null0505"><i
                        class="mod_copyright_inter_ico mod_copyright_inter_ico_thailand"></i><span class="languagefont"></span></a>
            </p>
            <p><span>飞狐商城旗下网站：</span>
                <a href="https://www.jdpay.com/" target="_blank">飞狐商城钱包</a><span class="copyright_split">|</span>
                <a href="https://www.jdcloud.com/" target="_blank">飞狐商城云</a>
            </p>
        </div>
        <p class="copyright_auth">
        
            <a id="urlknet" class="copyright_auth_ico copyright_auth_ico_2" onclick="CNNIC_change(&#39;urlknet&#39;)"
               oncontextmenu="return false;" name="CNNIC_seal"
               href="https://ss.knet.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005" target="_blank">可信网站信用评估</a>
            <a class="copyright_auth_ico copyright_auth_ico_3" href="http://www.cyberpolice.cn/"
               target="_blank">网络警察提醒你</a>
            <a class="copyright_auth_ico copyright_auth_ico_4"
               href="https://search.szfw.org/cert/l/CX20120111001803001836" target="_blank">诚信网站</a>
            <a class="copyright_auth_ico copyright_auth_ico_5" href="http://www.12377.cn/" target="_blank">中国互联网举报中心</a>
            <a class="copyright_auth_ico copyright_auth_ico_6" href="http://www.12377.cn/node_548446.htm"
               target="_blank">网络举报APP下载</a>
        </p>
    </div>
</div>
<!--footer end-->