<!--shortcut start-->
<div id="shortcut-2014">
    <div class="w">
        <ul class="fl">
            <li id="ttbar-home"><a href="index-2.html" target="_blank">飞狐商城首页</a></li>
        </ul>
        <ul class="fr">
            <li class="fore1" id="ttbar-login"><a href="javascript:login();" class="link-login">你好，请登录</a>&nbsp;&nbsp;<a
                    href="javascript:regist();" class="link-regist style-red">免费注册</a></li>
            <li class="spacer"></li>
            <li class="fore2">
                <div class="dt">
                    <a target="_blank" href="https://order.itfh.com/center/list.action">我的订单</a>
                </div>
            </li>
        </ul>
        <span class="clr"></span>
    </div>
</div>
<div id="o-header-2013">
    <div id="header-2013" style="display:none;"></div>
</div>
<!--shortcut end-->