<!--service start-->
<div id="service-2017">
    <div class="w">
        <ol class="slogen">
            <li class="item fore1">
                <i>多</i>品类齐全，轻松购物
            </li>
            <li class="item fore2">
                <i>快</i>多仓直发，极速配送
            </li>
            <li class="item fore3">
                <i>好</i>正品行货，精致服务
            </li>
            <li class="item fore4">
                <i>省</i>天天低价，畅选无忧
            </li>
        </ol>
    </div>
    <div class="jd-help">
        <div class="w">
            <div class="wrap">
                <dl class="fore1">
                    <dt>购物指南</dt>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-29.html">购物流程</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-151.html">会员介绍</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank"
                           href="https://help.itfh.com/user/issue/list-297.html">生活旅行/团购</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue.html">常见问题</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-136.html">大家电</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/custom.html">联系客服</a>
                    </dd>
                </dl>
                <dl class="fore2">
                    <dt>配送方式</dt>
                    <dd>
                        <a rel="nofollow" target="_blank"
                           href="https://help.itfh.com/user/issue/list-81-100.html">上门自提</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-81.html">211限时达</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/103-983.html">配送服务查询</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/109-188.html">配送费收取标准</a>
                    </dd>
                    <dd>
                        <a target="_blank" href="https://help.joybuy.com/help/question-list-201.html">海外配送</a>
                    </dd>
                </dl>
                <dl class="fore3">
                    <dt>支付方式</dt>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-172.html">货到付款</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-173.html">在线支付</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-176.html">分期付款</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-175.html">公司转账</a>
                    </dd>
                </dl>
                <dl class="fore4">
                    <dt>售后服务</dt>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/321-981.html">售后政策</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-132.html">价格保护</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/130-978.html">退款说明</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://myjd.itfh.com/repair/repairs.action">返修/退换货</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://help.itfh.com/user/issue/list-50.html">取消订单</a>
                    </dd>
                </dl>
                <dl class="fore5">
                    <dt>特色服务</dt>
                    <dd>
                        <a target="_blank" href="https://1paipai.itfh.com/">夺宝岛</a>
                    </dd>
                    <dd>
                        <a target="_blank" href="https://help.itfh.com/user/issue/list-134.html">DIY装机</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://fuwu.itfh.com/">延保服务</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://o.itfh.com/market/index.action">飞狐商城E卡</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://mobile.itfh.com/">飞狐商城通信</a>
                    </dd>
                    <dd>
                        <a rel="nofollow" target="_blank" href="https://smart.itfh.com/">京鱼座智能</a>
                    </dd>
                </dl>
                <span class="clr"></span>
            </div>
        </div>
    </div>
</div>
<!--service end-->