<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class=" jd_retina"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Expires-Type" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>账户信息</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <link type="text/css" rel="stylesheet" href="css/user-info.css">
    </head>

<!--set|info-->
<body myjd="_MYJD_info" menuid="set">
<!--shortcut start-->
<div id="o-header-2013"><div id="header-2013" style="display:none;"></div></div>
<!--shortcut end-->
<div id="nav">
	<div class="w">
		<div class="logo">
			<a href="#" target="_blank" class="fore1"></a>
			<a href="#" target="_self" class="fore2">飞狐商城</a>
			<a href="#" target="_blank" class="fore3">返回商城首页</a>
		</div>
		<div class="navitems">
			<ul>
				<li class="fore-1">
					<a target="_self" href="#">首页</a>
				</li>
				<li class="fore-3">
					<div class="dl">
						<div class="dt">
							<span class="myjd-set">账户设置</span>
							<b></b>
						</div>
						<div class="dd">
							<a tid="_MYJD_info" href="#" target="_self"><span>个人信息</span></a>
						</div>
					</div>
				</li>
				
			</ul>
		</div>
		<div class="nav-r">
			<div id="search-2014">
					<ul id="shelper" class="hide" style="display: none;"></ul>
					<div class="form">
						<input type="text" id="key" class="text">
						<button class="button cw-icon" type="button"><i></i>搜索</button>
					</div>
			    </div>
			    <div id="settleup-2014" class="dorpdown">
					<div class="cw-icon">
						<i class="ci-left"></i>
						<i class="ci-right">&gt;</i><i class="ci-count" id="shopping-amount">0</i>
						<a target="_blank" href="#">我的购物车</a>
					</div>
					<div class="dorpdown-layer"><div class="spacer"></div><div id="settleup-content"><span class="loading"></span></div></div>
				</div>
		</div>
		<div class="clr"></div>
	</div>
</div>

<!--container start-->

    <div id="container">
    <div class="w">
        <div id="content">
            <div id="sub">
                <div id="menu">
	<dl class="fore1">
		<dt id="_MYJD_setting">设置</dt>
		<dd class="fore1_1 curr" id="_MYJD_info">
			<a href="#" target="_self">个人信息</a>
		</dd>
	</dl>
</div>
            </div>

            <div id="main">
                <div class="mod-main">
                    <div class="mt">
                        <ul class="extra-l">
                            <li class="fore-1"><a class="curr" href="#">基本信息</a></li>
                        </ul>
                    </div>
                    <div class="mc">
                        <div class="user-set userset-lcol">
                            <div class="form">                                
                                <div class="item" id="aliasArea">
                                    <span class="label"><em>*</em>用户名：</span>
                                    <div class="fl" id="aliasBefore">
                                        <input type="text" class="itxt" maxlength="20" id="nickName" name="userVo.nickName" value="iteinstein">
                                        <span class="ftx03">可用于登录，请牢记哦~</span>
                                        <div class="clr"></div><div class="prompt-06"><span id="aliasNameBefore_msg"></span></div>
                                    </div>
                                </div>
								<div class="item" id="aliasArea">
                                    <span class="label"><em>*</em>手机号：</span>
                                    <div class="fl" id="aliasBefore">
                                        <input type="text" class="itxt" maxlength="20" id="nickName" name="userVo.nickName" value="18101381273">
                                        <span class="ftx03">可用于登录，请牢记哦~</span>
                                        <div class="clr"></div><div class="prompt-06"><span id="aliasNameBefore_msg"></span></div>
                                    </div>
                                </div>
								<div class="item" id="aliasArea">
                                    <span class="label"><em>*</em>邮箱：</span>
                                    <div class="fl" id="aliasBefore">
                                        <input type="text" class="itxt" maxlength="20" id="nickName" name="userVo.nickName" value="iteinstein@163.com">
                                        <span class="ftx03">可用于登录，请牢记哦~</span>
                                        <div class="clr"></div><div class="prompt-06"><span id="aliasNameBefore_msg"></span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="label"><em>*</em>昵称：</span>
                                    <div class="fl">
                                        <input type="text" class="itxt" maxlength="20" id="nickName" name="userVo.nickName" value="iteinstein">
                                        <div class="clr"></div><div class="prompt-06"><span id="nickName_msg"></span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="label">性别：</span>
                                    <div class="fl">
                                        <input type="radio" name="sex" class="jdradio" value="0"><label class="mr10">男</label>
                                        <input type="radio" name="sex" class="jdradio" value="1"><label class="mr10">女</label>
                                        <input type="radio" name="sex" class="jdradio" value="2"><label class="mr10">保密</label>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="label">生日：</span>
                                    <div class="fl">
                                        <input type="text" class="itxt" maxlength="20" />
                                    </div>
                                </div>     
                                <div class="item">
                                    <span class="label">所在地：</span>
                                    <div class="fl">
                                        <select name="userVo.province" class="selt mr5" id="province">
											<option value="-1">请选择</option>
											<option value="1">河南</option>
											<option value="2">山东</option>
                                        </select>
                                        <select name="userVo.city" class="selt mr5" id="city">
											<option value="-1">请选择</option>
											<option value="3">郑州</option>
											<option value="4">洛阳</option>
                                        </select>
                                        <select name="userVo.county" class="selt mr5"  id="county">
											<option value="-1">请选择</option>
											<option value="6">金水区</option>
											<option value="7">中牟县</option>
                                        </select>
										<div class="clr"></div><div class="prompt-06"><span id="city_msg"></span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="label">&nbsp;</span>
                                    <div class="fl">
                                        <a href="javascript:void(0)" class="btn-5" onclick="updateUserInfo()">提交</a>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--container end-->

<!--main-->
<!--service start-->

<!--service end-->
<!--footer start-->
<div id="footer-2017" includefile_footer_id="1002">
	<div class="w">
		<div class="copyright_links">
			<p>
				<a href="#" target="_blank">关于我们</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">联系我们</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">联系客服</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">合作招商</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">商家帮助</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">营销中心</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">手机飞狐商城</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">友情链接</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">销售联盟</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">飞狐商城社区</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">风险监测</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">隐私政策</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">飞狐商城公益</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">English Site</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">Media &amp; IR</a>
			</p>
		</div>
		<div class="copyright_info">
			<p>
				<a href="#" target="_blank">京公网安备 11000002000088号</a><span class="copyright_split">|</span><span>京ICP证070359号</span><span class="copyright_split">|</span>
				<a href="#" target="_blank">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span class="copyright_split">|</span><span>新出发京零 字第大120007号</span></p>
			<p><span>互联网出版许可证编号新出网证(京)字150号</span><span class="copyright_split">|</span>
				<a href="#" target="_blank">出版物经营许可证</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">网络文化经营许可证京网文[2014]2148-348号</a><span class="copyright_split">|</span><span>违法和不良信息举报电话：4006561155</span></p>
			<p><span class="copyright_text">Copyright © 2004 - <em id="copyright_year">2019</em>  飞狐商城JD.com 版权所有</span><span class="copyright_split">|</span><span>消费者维权热线：4006067733</span>
				<a href="#" target="_blank" class="copyright_license">经营证照</a>
				<span class="copyright_split">|</span>
				<span>(京)网械平台备字(2018)第00003号</span>
				<span class="copyright_split">|</span>
				<a href="#" target="_blank" class="mod_business_license">营业执照</a>
			</p>
			<p><span>飞狐商城旗下网站：</span>
				<a href="#" target="_blank">飞狐商城钱包</a><span class="copyright_split">|</span>
				<a href="#" target="_blank">飞狐商城云</a>
			</p>
		</div>
		<p class="copyright_auth">
					<a id="urlknet" class="copyright_auth_ico copyright_auth_ico_2" onclick="CNNIC_change(&#39;urlknet&#39;)" oncontextmenu="return false;" name="CNNIC_seal" href="#" target="_blank">可信网站信用评估</a>
					<a class="copyright_auth_ico copyright_auth_ico_3" href="#" target="_blank">网络警察提醒你</a>
					<a class="copyright_auth_ico copyright_auth_ico_4" href="#" target="_blank">诚信网站</a>
					<a class="copyright_auth_ico copyright_auth_ico_5" href="#" target="_blank">中国互联网举报中心</a>
					<a class="copyright_auth_ico copyright_auth_ico_6" href="#" target="_blank">网络举报APP下载</a>
		</p>
	</div>
</div>

</body></html>