<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.MemberMapper">
    <select id="selectMemberByName" parameterType="String"  resultType="com.fh.model.Member">
        select * from t_member where username = #{username} or email = #{username} or phonenumber = #{username}
    </select>
    <select id="getMemberById" parameterType="Integer" resultType="com.fh.model.Member">
        select * from t_member
        where id = #{id}
    </select>
</mapper>
