<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.mapper.OrderMapper">

    <select id="getOrderByMemberId" parameterType="Integer" resultType="com.fh.model.FlightOrder">
      select * from t_flightorder where userid = #{id}
    </select>
    <insert id="addOrder" parameterType="com.fh.model.FlightOrder">
        insert into t_flightorder (id,userid,status,createtime,flightid,totalcount,totalprice)
        values (#{id},#{userid},#{status},#{createtime},#{flightid},#{totalcount},#{totalprice})
    </insert>
    <update id="updateOrder" parameterType="com.fh.model.FlightOrder">
        update t_order set payTime=#{payTime},status=#{status} where id = #{id}
    </update>
</mapper>
